.query_container {
  display: flex;
  padding: 8px;
  overflow: auto;
  border: 1px solid lightgrey;
}
.query_card_container {
  width: 280px;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.list_style {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 112px;
  overflow: auto;
}

.text_nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
