 #define ROOT C:\Program Files\nxlog
 define ROOT C:\Program Files (x86)\nxlog

 Moduledir %ROOT%\modules
 CacheDir %ROOT%\data
 Pidfile %ROOT%\data\nxlog.pid
 SpoolDir %ROOT%\data
 LogFile %ROOT%\data\nxlog.log

 <Input in>
   Module im_file
   File 'C:\Users\SomeUser\Desktop\nxlog_test.log' #Put the file to be tailed here.
   SavePos TRUE
   InputType LineBased
 </Input>

 <Output out>
   Module om_tcp
   Host LINUX_MACHINE_RUNNING_FLUENTD
   Port 5140
 </Output> 

 <Route r>
   Path in => out
 </Route>