// Global variables here
$background-color: #d4d6e4;
$info-background: #151950;
$react-color: #53d2fa;
$link-color: #71a6ff;

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #00ff00;
$orange: #ffa500;
$meroon: #ff6358;
$light-grey: #f2f2f2;
//$primary-color: #42168a;
$primary-color: #0e68aa;
$welcome-color: #2b2844;
$disabled-color: #848181;
