/****** Object:  Database [cdp_db]    Script Date: 8/24/2022 6:45:20 AM ******/
CREATE DATABASE [cdp_db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [staging]    Script Date: 8/24/2022 6:45:20 AM ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [dbo].[Anomaly_Detection_Form]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anomaly_Detection_Form](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Anomaly_ID] [int] NOT NULL,
	[Timeseries_Parameter] [nvarchar](50) NOT NULL,
	[Anomaly_Parameters] [nvarchar](max) NOT NULL,
	[Anomaly_Type] [nvarchar](50) NULL,
	[Anomaly_Interval] [nvarchar](50) NULL,
	[Result_JSON] [nvarchar](max) NULL,
	[Model_Name] [nvarchar](50) NULL,
	[Total_Row_Count] [int] NULL,
	[Anomaly_Row_count] [int] NULL,
	[Input_Type] [nchar](50) NULL,
 CONSTRAINT [PK_Anomaly_Form1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anomaly_Input_Files]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anomaly_Input_Files](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title_Name] [nvarchar](max) NOT NULL,
	[File_Name] [nvarchar](max) NOT NULL,
	[Uploaded_Date] [datetime] NOT NULL,
	[Datasource_type] [varchar](200) NULL,
 CONSTRAINT [PK__Anomaly___3214EC272651BA17] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnomalyServiceConfig]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnomalyServiceConfig](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AnomalyServiceType] [varchar](100) NOT NULL,
	[SUBSCRIPTION_KEY] [varchar](100) NOT NULL,
	[ANOMALY_DETECTOR_ENDPOINT] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cloud_servicetype_details]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cloud_servicetype_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cloud_type] [varchar](max) NULL,
	[cloud_service_type] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust_360_watermark]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust_360_watermark](
	[TableName] [varchar](50) NULL,
	[SyncDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust360_address]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust360_address](
	[address_id] [int] NULL,
	[address_type] [varchar](50) NULL,
	[address1] [varchar](50) NULL,
	[address2] [varchar](50) NULL,
	[address3] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[zipcode] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[customer_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust360_customer]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust360_customer](
	[customer_id] [int] NULL,
	[source_id] [varchar](50) NULL,
	[first_name] [varchar](50) NULL,
	[middle_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[dob] [date] NULL,
	[gender] [varchar](50) NULL,
	[nationality] [varchar](50) NULL,
	[marital_status] [varchar](50) NULL,
	[occupation] [varchar](50) NULL,
	[avg_family_size] [int] NULL,
	[income_level] [varchar](50) NULL,
	[date_onboarded] [date] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
	[effective_start_date] [datetime] NULL,
	[effective_end_date] [datetime] NULL,
	[Identifier_type] [varchar](50) NULL,
	[identifier] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust360_products]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust360_products](
	[product_id] [int] NULL,
	[product_name] [varchar](50) NULL,
	[product_type] [varchar](50) NULL,
	[product_description] [varchar](50) NULL,
	[issue_date] [date] NULL,
	[valid_till_date] [date] NULL,
	[account_status] [varchar](50) NULL,
	[credit_card_limit] [varchar](50) NULL,
	[interest_rate] [varchar](50) NULL,
	[tenure] [varchar](50) NULL,
	[service_charges] [varchar](50) NULL,
	[customer_id] [int] NULL,
	[fd_principal_amount] [varchar](50) NULL,
	[loan_collateral_value] [varchar](50) NULL,
	[loan_amount] [varchar](50) NULL,
	[close_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_event_list]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_event_list](
	[device_id] [varchar](max) NULL,
	[ip_address] [varchar](max) NULL,
	[token] [varchar](max) NULL,
	[timestamp] [varchar](max) NULL,
	[uv] [float] NULL,
	[temperature] [bigint] NULL,
	[humidity] [bigint] NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[DT_timestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domain]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domain](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Domain] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hub_Connection]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hub_Connection](
	[hub_name] [varchar](50) NULL,
	[hub_connection_string] [text] NULL,
	[hub_type] [varchar](50) NULL,
	[hub_status] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaskingType]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaskingType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaskingType] [varchar](100) NULL,
	[Method] [varchar](100) NULL,
	[DomainId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match data]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match data](
	[id] [bigint] NULL,
	[season] [bigint] NULL,
	[city] [varchar](max) NULL,
	[date] [varchar](max) NULL,
	[team1] [varchar](max) NULL,
	[team2] [varchar](max) NULL,
	[toss_winner] [varchar](max) NULL,
	[toss_decision] [varchar](max) NULL,
	[result] [varchar](max) NULL,
	[dl_applied] [bigint] NULL,
	[winner] [varchar](max) NULL,
	[win_by_runs] [bigint] NULL,
	[win_by_wickets] [bigint] NULL,
	[player_of_match] [varchar](max) NULL,
	[venue] [varchar](max) NULL,
	[umpire1] [varchar](max) NULL,
	[umpire2] [varchar](max) NULL,
	[umpire3] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message_Template]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_Template](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Template_Name] [nvarchar](50) NULL,
	[JSON] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Messeage tempalate_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prediction_result]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prediction_result](
	[timestamp] [varchar](max) NULL,
	[device_id] [varchar](max) NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[device_status] [varchar](max) NULL,
	[Scored Labels] [varchar](max) NULL,
	[Scored Probabilities] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rel_sdv_models]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rel_sdv_models](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_time] [datetime] NULL,
	[meta_file] [varchar](100) NULL,
	[sdv_model] [varchar](100) NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](100) NULL,
 CONSTRAINT [RQModel_Name] UNIQUE NONCLUSTERED 
(
	[sdv_model] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sampledatanew]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sampledatanew](
	[device_id] [varchar](max) NULL,
	[ip_address] [varchar](max) NULL,
	[timestamp] [varchar](max) NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[device_status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sdv_models]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sdv_models](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_time] [datetime] NULL,
	[train_file] [varchar](100) NULL,
	[sdv_model] [varchar](100) NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](100) NULL,
	[score] [float] NULL,
 CONSTRAINT [SQModel_Name] UNIQUE NONCLUSTERED 
(
	[sdv_model] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_principal_config]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_principal_config](
	[id] [int] NULL,
	[service_name] [varchar](50) NULL,
	[zone] [varchar](50) NULL,
	[client_id] [varchar](255) NULL,
	[tenant_id] [varchar](255) NULL,
	[secret_id] [varchar](255) NULL,
	[container_name] [varchar](50) NULL,
	[storage_name] [varchar](50) NULL,
	[subscription_id] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting_values]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting_values](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[azure_subscription_id] [varchar](max) NULL,
	[iot_hub_name] [varchar](max) NULL,
	[iot_connection_string] [varchar](max) NULL,
	[event_hub_name] [varchar](max) NULL,
	[event_hub_connection_string] [varchar](max) NULL,
	[azure_storage_connection_string] [varchar](max) NULL,
	[sdv_model_name] [varchar](max) NULL,
	[msg_template] [varchar](max) NULL,
	[aws_access_key] [varchar](max) NULL,
	[aws_secret_key] [varchar](max) NULL,
	[aws_region] [varchar](max) NULL,
	[aws_stream_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superstore details]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superstore details](
	[id] [bigint] NULL,
	[season] [bigint] NULL,
	[city] [varchar](max) NULL,
	[date] [varchar](max) NULL,
	[team1] [varchar](max) NULL,
	[team2] [varchar](max) NULL,
	[toss_winner] [varchar](max) NULL,
	[toss_decision] [varchar](max) NULL,
	[result] [varchar](max) NULL,
	[dl_applied] [bigint] NULL,
	[winner] [varchar](max) NULL,
	[win_by_runs] [bigint] NULL,
	[win_by_wickets] [bigint] NULL,
	[player_of_match] [varchar](max) NULL,
	[venue] [varchar](max) NULL,
	[umpire1] [varchar](max) NULL,
	[umpire2] [varchar](max) NULL,
	[umpire3] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Synthetic_Data_Generation]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Synthetic_Data_Generation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [varchar](50) NULL,
	[ModelType] [varchar](50) NULL,
	[ModelFile] [varchar](50) NULL,
	[RecordCount] [int] NULL,
	[Status] [varchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_Synthetic_Data_Generation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_address]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_address](
	[address_id] [int] NOT NULL,
	[address_type] [nvarchar](50) NOT NULL,
	[address1] [nvarchar](50) NOT NULL,
	[address2] [nvarchar](100) NULL,
	[address3] [nvarchar](100) NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[zipcode] [int] NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[Fax] [varchar](50) NOT NULL,
	[customer_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[customer_id] [int] NOT NULL,
	[source_id] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[dob] [datetime] NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[nationality] [nvarchar](50) NOT NULL,
	[marital_status] [nvarchar](50) NOT NULL,
	[occupation] [nvarchar](50) NOT NULL,
	[avg_family_size] [tinyint] NOT NULL,
	[income_level] [nvarchar](50) NOT NULL,
	[date_onboarded] [datetime] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NOT NULL,
	[effective_start_date] [datetime] NOT NULL,
	[effective_end_date] [datetime] NOT NULL,
	[Identifier_type] [nvarchar](50) NOT NULL,
	[identifier] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_products]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_products](
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[product_type] [nvarchar](50) NOT NULL,
	[product_description] [nvarchar](50) NOT NULL,
	[issue_date] [date] NOT NULL,
	[valid_till_date] [date] NOT NULL,
	[account_status] [nvarchar](50) NOT NULL,
	[credit_card_limit] [int] NULL,
	[interest_rate] [float] NULL,
	[tenure] [tinyint] NULL,
	[service_charges] [int] NULL,
	[customer_id] [int] NOT NULL,
	[fd_principal_amount] [int] NULL,
	[loan_collateral_value] [int] NULL,
	[loan_amount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_servicerequest]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_servicerequest](
	[sr_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[sr_description] [nvarchar](100) NOT NULL,
	[sr_open_date] [datetime] NOT NULL,
	[sr_close_date] [datetime] NOT NULL,
	[sr_type] [nvarchar](50) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[sr_cust_feedback] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_transactions]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transactions](
	[transaction_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[merchant_name] [nvarchar](50) NOT NULL,
	[transaction_description] [nvarchar](50) NOT NULL,
	[transaction_amount] [int] NOT NULL,
	[type_deposit_withdrawal] [nvarchar](50) NOT NULL,
	[transaction_date] [datetime] NOT NULL,
	[channel] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[EmailID] [varchar](200) NULL,
	[Address] [varchar](max) NULL,
	[PhoneNo] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[PinCode] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblCustomer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer_Product_InstallBase]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer_Product_InstallBase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[Version] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblCustomer_Product_InstallBase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeviceConnectionInfo]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeviceConnectionInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Device_Id] [varchar](100) NULL,
	[IP_Address] [varchar](50) NULL,
	[Token] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblDeviceConnectionInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeviceInfo]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeviceInfo](
	[Device_Id] [varchar](100) NOT NULL,
	[Device_Name] [varchar](100) NULL,
	[ProductId] [int] NULL,
	[Status] [varchar](10) NULL,
	[Model] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](100) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Installation_Date] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblDeviceInfo] PRIMARY KEY CLUSTERED 
(
	[Device_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeviceInfoNew]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeviceInfoNew](
	[Device_Id] [varchar](max) NULL,
	[Device_Name] [varchar](max) NULL,
	[ProductId] [bigint] NULL,
	[Status] [varchar](max) NULL,
	[Model] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[State] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Installation_Date] [varchar](max) NULL,
	[CreatedOn] [varchar](max) NULL,
	[UpdatedOn] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductnew]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductnew](
	[ID] [bigint] NULL,
	[ProductName] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[IsActive] [bigint] NULL,
	[CreatedOn] [varchar](max) NULL,
	[UpdatedOn] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telemetry_daily]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telemetry_daily](
	[timestamp] [datetime2](7) NOT NULL,
	[uv] [float] NOT NULL,
	[temperature] [tinyint] NOT NULL,
	[humidity] [tinyint] NOT NULL,
	[volt] [float] NOT NULL,
	[rotate] [float] NOT NULL,
	[pressure] [float] NOT NULL,
	[vibration] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telemetry_data]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telemetry_data](
	[timestamp] [varchar](max) NULL,
	[uv] [float] NULL,
	[temperature] [bigint] NULL,
	[humidity] [bigint] NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telemetry_dataset]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telemetry_dataset](
	[timestamp] [varchar](max) NULL,
	[device_id] [varchar](max) NULL,
	[ip_address] [varchar](max) NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[device_status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telemetry_dataset_new]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telemetry_dataset_new](
	[timestamp] [varchar](max) NULL,
	[device_id] [varchar](max) NULL,
	[ip_address] [varchar](max) NULL,
	[volt] [float] NULL,
	[rotate] [float] NULL,
	[pressure] [float] NULL,
	[vibration] [float] NULL,
	[device_status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_Property_Details]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_Property_Details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NULL,
	[PropertyName] [nvarchar](50) NULL,
	[PropertyType] [nvarchar](50) NULL,
	[Prop_Value] [nvarchar](50) NULL,
	[Prop_Value_From] [numeric](18, 0) NULL,
	[Prop_Value_To] [numeric](18, 0) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Message_Tempalate_Table_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[watermarktable]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[watermarktable](
	[TableName] [varchar](50) NULL,
	[WatermarkValue] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rel_sdv_models] ADD  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[sdv_models] ADD  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[tblCustomer_Product_InstallBase]  WITH CHECK ADD  CONSTRAINT [FK_tblCustomer_Product_InstallBase_tblCustomer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[tblCustomer] ([ID])
GO
ALTER TABLE [dbo].[tblCustomer_Product_InstallBase] CHECK CONSTRAINT [FK_tblCustomer_Product_InstallBase_tblCustomer]
GO
ALTER TABLE [dbo].[tblCustomer_Product_InstallBase]  WITH CHECK ADD  CONSTRAINT [FK_tblCustomer_Product_InstallBase_tblProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ID])
GO
ALTER TABLE [dbo].[tblCustomer_Product_InstallBase] CHECK CONSTRAINT [FK_tblCustomer_Product_InstallBase_tblProduct]
GO
ALTER TABLE [dbo].[tblDeviceConnectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_tblDeviceConnectionInfo_tblDeviceInfo] FOREIGN KEY([Device_Id])
REFERENCES [dbo].[tblDeviceInfo] ([Device_Id])
GO
ALTER TABLE [dbo].[tblDeviceConnectionInfo] CHECK CONSTRAINT [FK_tblDeviceConnectionInfo_tblDeviceInfo]
GO
ALTER TABLE [dbo].[tblDeviceInfo]  WITH CHECK ADD  CONSTRAINT [FK_tblDeviceInfo_tblProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tblProduct] ([ID])
GO
ALTER TABLE [dbo].[tblDeviceInfo] CHECK CONSTRAINT [FK_tblDeviceInfo_tblProduct]
GO
/****** Object:  StoredProcedure [dbo].[update_customer360_watermark]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_customer360_watermark] @LastModifiedtime datetime, @TableName VARCHAR(50)
 		AS

 		BEGIN

 			UPDATE cust_360_watermark
 			SET SyncDateTime = IIF(@LastModifiedtime ='',GETUTCDATE(), @LastModifiedtime) WHERE TableName = @TableName
			DROP TABLE IF EXISTS incremental_customer
 		END
GO
/****** Object:  StoredProcedure [dbo].[update_watermark]    Script Date: 8/24/2022 6:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_watermark] @LastModifiedtime datetime, @TableName VARCHAR(50)
 		AS

 		BEGIN

 			UPDATE watermarktable
 			SET [WatermarkValue] = @LastModifiedtime WHERE TableName = @TableName

 		END
GO
