<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.astron">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Youtube Go"
        android:supportsRtl="true"
        android:theme="@style/Theme.Astron">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.player.PlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection|smallestScreenSize|screenLayout"
            android:exported="false"
            android:supportsPictureInPicture="true"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.LoginActivity" />

        <service
            android:name=".ui.player.PlaybackService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
